<h1> Agregar Nuevo Héroe <small>asd</small></h1>
<br>

<div>
    <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn fadeOut">

            <h4 class="alert-heading">Cargando</h4>
            <p>
                <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p>
                Espere por favor
            </p>
        </div>

        <div *ngIf="!cargando " class="table animated fadeIn ">
            <div fxLayout="row" fxLayoutGap="40px">

                <div fxFlex="50" fxLayout="column">

                    <div fxLayout="row" fxLayoutGap="40px">
                        <mat-form-field fxFlex="100">
                            <mat-label>Héroe</mat-label>
                            <input matInput type="text" formControlName="heroe">
                        </mat-form-field>

                        <mat-form-field fxFlex="100">
                            <mat-label>Real name</mat-label>
                            <input matInput type="text" formControlName="nombre">
                        </mat-form-field>
                    </div>


                    <mat-form-field fxFlex="100">
                        <mat-label>Poder</mat-label>
                        <input matInput type="text" formControlName="poder">
                    </mat-form-field>



                    <mat-form-field fxFlex="100">
                        <mat-label>Creador</mat-label>
                        <mat-select formControlName="creador">
                            <mat-option *ngFor="let creador of creadores" [value]="creador.id">
                                {{creador.id}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="row mb-3">

                        <label class="col-sm-3 col-form-label"> <span class="badge bg-success ">En activo</span></label>
                        <div class="col-sm-9">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" formControlName="vivo">
                                <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                            </div>
                        </div>
                    </div>

                </div>
                <div fxFlex="50">

                    2

                </div>

            </div>
        </div>

        <div class="form-group animated fadeIn ">
            <button class="btn btn-primary w-50" type="submit"><i class="fa fa-save" > Guardar </i></button>
        </div>
    </form>
    <div class="row animated fadeIn">
        <div class="col">
            <button routerLink="/heroes/listado" class="btn btn-outline-danger ">
                <i class="fas fa-chevron-left"> Volver </i>
        </button>
        </div>
    </div>
</div>