<img src="assets/heroes/batman.jpg" id="backgroundimage" class=" animated fadeIn">


<h1 class="animated fadeIn "> Súper Héroes </h1>
<div class="d-flex w-25 " role="search">

    <input #txtBuscar (keyup)="buscarHeroe(txtBuscar.value)" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="filterPost" [(ngModel)]="filterPost">

    <span class="material-icons">
                            navigation
                            </span>


</div>
<span class="right"></span>


<br><br>

<table *ngIf="!cargando && heroes.length > 0" class="table animated fadeIn ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Héroe</th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Creador</th>
            <th scope="col">Estado</th>
            <th scope="col">tools</th>
        </tr>
    </thead>
    <tbody class="table-group-divider animated fadeIn">
        <tr *ngFor="let heroe of heroes | paginate: config  ; let i = index ">
            <th scope="row"> {{ i +1 }}</th>
            <td> {{ heroe.heroe | titlecase }} </td>
            <td> {{ heroe.nombre | titlecase }} </td>
            <td> {{ heroe.poder | titlecase }} </td>
            <td><span class="badge bg-secondary">{{ heroe.creador }}</span></td>

            <td>
                <label *ngIf="heroe.vivo" class=" badge bg-success">en Activo</label>
                <label *ngIf="!heroe.vivo" class=" badge bg-danger">Jubilado</label>
            </td>
            <td>


                <button class=" btn btn-info mr-1" [routerLink]="['/heroes', heroe.id]">
                        <span class="material-icons">
                            build
                            </span>
                            

                </button>
                <button class=" btn btn-danger mr-1" (click)="borrarHeroe( heroe, i); ">
                    <i class="fa fa-trash"></i>
     
                     </button>



            </td>
        </tr>

    </tbody>
</table>
<div class="container animated fadeIn">
    <pagination-controls class="pagination " (pageChange)="pageChange($event)"></pagination-controls>

</div>




<div *ngIf="!cargando && heroes.length === 0" class="alert alert-warning text-center mt-3">

    <h4 class="alert-heading">No hay registro</h4>
    <p>
        <i class="fa fa-exclamation "></i>
    </p>

</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn fadeOut">

    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p>
        Espere por favor
    </p>
</div>
<div class="row animated fadeIn">
    <div class="col">
        <button routerLink="/heroes/agregar" class="btn btn-primary float-none">
                            <span class="material-icons">
                                person_add_alt
                                </span>
                         Agregar 
                    </button>
    </div>
</div>