<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <small>{{today | date }}</small>
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="right"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <span class="material-icons">
                    arrow_back_ios
                    </span>
            </button>
        </mat-toolbar>
        <br>
        <mat-nav-list>
            <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
                <span class="material-icons">
                    military_tech
                    </span>
                <span> Lista de Héroes </span>
            </a>

            <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
                <span class="material-icons">
                    add
                    </span>
                <span> Agregar héroe </span>
            </a>
            <a (click)="logOut()" mat-list-item (click)="sidenav.toggle()">
                <span class="material-icons">
                    logout
                    </span>
                <span> LogOut </span>
            </a>
            <div class="top container">
                <a target="_blank" href="https://www.linkedin.com/in/sergio-rodr%C3%ADguez-b23aa0245/" mat-list-item (click)="sidenav.toggle()">

                    <span>   <i class="fab fa-linkedin"></i> </span>

                </a>
                <a target="_blank" href="https://github.com/tumparek/heroes-project" mat-list-item (click)="sidenav.toggle()">

                    <span>   <i class="fab fa-github"></i> </span>

                </a>
                <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">

                    <span>   <i class="fab fa-steam"></i> </span>

                </a>
                <a routerLink="https://www.linkedin.com/in/sergio-rodr%C3%ADguez-b23aa0245/" mat-list-item (click)="sidenav.toggle()">

                    <span>   <i class="fab fa-twitter"></i> </span>

                </a>
                <a routerLink="https://www.linkedin.com/in/sergio-rodr%C3%ADguez-b23aa0245/" mat-list-item (click)="sidenav.toggle()">

                    <span>   <i class="fab fa-youtube"></i> </span>

                </a>

            </div>


        </mat-nav-list>


    </mat-sidenav>

    <mat-toolbar color="">

        <button mat-icon-button (click)="sidenav.toggle()">
            
            <span class="material-icons">
                format_list_bulleted
                </span>
        </button>
        <small>start</small>
        <span class="right"></span>
        <span class="fire"> BACKEND POWERED BY FIREBASE  <span class="material-icons">
            
            local_fire_department
            </span></span>


        <span class="right"></span>



        <button mat-icon-button (click)="logOut()">

            <span class="material-icons">
                logout
                </span>
               
            
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>



</mat-sidenav-container>